/**
 * Sets global font-size and body colors.
 */
html {
  font-size: $font-size;
}
body {
  background-color: $bgcolor;
  color: $fgcolor;
  @extend .#{$namespace}-text-body;

  * {
    box-sizing: border-box;
  }
}
