.#{$namespace}-box {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f7f3f2; // warmGray-10
  // outline: $border-width solid $fgcolor;
}

.#{$namespace}-box--flex {
  @extend .#{$namespace}-box;
  display: flex;
}

.#{$namespace}-box--borderless {
  @extend .#{$namespace}-box;
  outline: none;
}