.#{$namespace}-button {
  position: relative;
  @extend .#{$namespace}-text-ui;
  @extend .#{$namespace}-text-md;
  color: $fgcolor-light;
  font-weight: bold;
  letter-spacing: $letter-spacing-header;
  line-height: 2;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: $fgcolor;
  background-color: $bgcolor-dark;
  padding: 9px 16px 7px;
  transition: 0.1s;

  &:focus-visible {
    outline: none;

    &::after {
      content: '';
      position: absolute;
      left: 16px;
      bottom: 10px;
      width: calc(100% - 32px);
      height: 3px;
      background-color: $color-secondary;
      transition: 0.1s;
    }
  }

  &:hover:not(:disabled) {
    background-color: $bgcolor;
  }

  &:active:not(:disabled) {
    background-color: $bgcolor-darker;
    padding: 10px 15px 6px 17px;
  }

  &--primary {
    &::before {
      content: '✭ ';
    }
  }

  &--destructive {
    &::before {
      content: '‼ ';
    }
  }

  &--selected {
    &::before {
      content: '◉ ';
    }
  }

  &:disabled:not(&--selected) {
    color: $color-disabled;

    &::after {
      content: '';
      position: absolute;
      left: 17px;
      top: 50%;
      margin-top: -0.5px;
      width: calc(100% - 32px);
      height: 3px;
      background-color: $color-disabled;
    }
  }
}
