/**
 * Styles HTML tags.
 */

h1 { @extend .#{$namespace}-text-header--01; }
h2 { @extend .#{$namespace}-text-header--02; }
h3 { @extend .#{$namespace}-text-header--03; }
h4 { @extend .#{$namespace}-text-header--04; }
h5 { @extend .#{$namespace}-text-header--05; }
h6 { @extend .#{$namespace}-text-header--06; }

p { @extend .#{$namespace}-text-body; }
blockquote { @extend .#{$namespace}-text-blockquote; }
small { @extend .#{$namespace}-text-small; }
code, pre {
  @extend .#{$namespace}-text-code;
  background-color: white;// #e5e0df; // warmGray-20
  color: #565151;// warmGray-70
  font-size: 1.4rem;
}

code {
  padding: 0 1rem;
}

pre {
  padding: 1rem;
}

section {
  margin: 1rem 0;
}

hr { @extend .#{$namespace}-hr; }

button { @extend .#{$namespace}-button; }

table { @extend .#{$namespace}-table; }

label { @extend .#{$namespace}-label; }

// .#{$namespace}-select {
//   select { @extend .#{$namespace}-select__element; }
// }

.#{$namespace}-checkbox {
  input[type=checkbox] { @extend .#{$namespace}-checkbox__element; }
}

.#{$namespace}-radio {
  input[type=radio] { @extend .#{$namespace}-radio__element; }
}
