.#{$namespace}-input {
  @extend .#{$namespace}-text-code;
  @extend .#{$namespace}-text-md;
  color: $fgcolor;
  border-width: 0;
  border-style: solid;
  border-color: $fgcolor;
  height: 4rem;
  transition: box-shadow 0.2s;
  box-shadow: inset 1px 1px 2px rgba(black, 0.25);
  padding: 1rem;
  background-color: white;
  background: linear-gradient(
    315deg,
    rgba($color-interactive-hover, 0.25) 0%,
    white 30%,
    white 70%,
    rgba($color-interactive-hover, 0.25) 100%,
  );

  &:focus {
    box-shadow: inset 1px 1px 4px rgba(black, 0.75);
    outline: none;
  }

  &:focus-visible {
    outline: $focus-outline;
  }

  &--block {
    display: block;
  }
}

.#{$namespace}-textarea {
  @extend .#{$namespace}-input;
  height: auto;
}
