.#{$namespace}-radio {
  position: relative;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 0.6rem 0.1rem 0;

  &--right {
    margin: 0 0 0.1rem 0.6rem;
  }

  &__element {
    @extend .#{$namespace}-exact-overlay;
    opacity: 0;
  }

  &__graphic {
    @extend .#{$namespace}-exact-overlay;
    border-width: 0.3rem 0.1rem 0.1rem 0.3rem;
    border-color: $fgcolor;
    border-style: solid;
    border-radius: 0.9rem;
    background-color: $bgcolor;
  }

  &__element:checked + &__graphic {
    &::after {
      content: '';
      position: absolute;
      left: 0.2rem;
      top: 0.2rem;
      width: 1rem;
      height: 1rem;
      border-radius: 0.5rem;
      background-color: $fgcolor;
    }
  }

  &__element:focus + &__graphic {
    outline-color: $focus-color;
    outline-width: 0.4rem;
    outline-style: solid;
  }
}
