.#{$namespace}-table {
  th,
  thead td {
    font-weight: bold;
  }
  td, th {
    padding: 8px 16px;
    text-align: left;
  }
  thead tr {
    border-width: 1px 0 2px;
    border-style: solid;
    border-color: $fgcolor;
  }
  tr {
    border-width: 1px 0;
    border-style: solid;
    border-color: $fgcolor;
  }
}
