// Carbon colors: https://carbon-elements.netlify.app/colors/examples/preview/

$bgcolor: #f4f4f4;
$fgcolor: #262626;

$bgcolor-dark: #e8e8e8;
$bgcolor-darker: #e0e0e0;
$fgcolor-light: #333333;

$font-size: 10px;
$font-header: Helvetica,Arial,sans-serif;
$font-body: "American Typewriter",Georgia,serif;
$font-ui: Helvetica,Arial,sans-serif;
$font-code: Menlo,monospace;

$letter-spacing-header: 1.5px;
$line-height: 1.4;
$indent: 2rem;
$border-width: 1px;

$color-primary: #d0e2ff;
$color-secondary: #525252;
$color-destructive: #a2191f;

$color-primary--hover: #b8d3ff;
$color-secondary--hover: #636363;
$color-destructive--hover: #c21e25;
$color-disabled: #8d8d8d;

$border-color: $fgcolor;
$border-color-light: #a8a8a8;
